
.p1{
    width: 700px;
    height: 450px;
    border-radius: 30px;
}
p{
    font-size: xx-large;
    cursor: pointer;
}
#m-caption{
    color: white;
    width: 700px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: -450px;
}
